._to_let_dashboard_page{
      
      ._t_dash_container{
            display: grid;
            grid-template-columns: 30% 70%;
            gap: 40px;
            margin-top: 10vh;
            margin-bottom: 10vh;
      }
}